# Created by .ignore support plugin (hsz.mobi)

#/blog/
#/comment/
#/likes/
#/mysite/
#/read_statistics/
#/static/
#/templates/
#/timezone_2019c_posix_sql/
#/user/
#/统计/
#/data.json
#/db.sqlite3
#/fabfile.py
#/manage.py
#/mysite.xml
#/mysqlclient-1.4.6-cp37-cp37m-win32.whl
#/requirements.txt

/media/
/mysite/settings.py
