<!DOCTYPE html>
<html lang="en" xmlns:vertical-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>face</title>
</head>

<style>
body{text-align:center}
</style>
<body>
<div style="width:auto; height:auto; float:left; display:inline">
     <h1>人脸数量为： {{ face_num }}</h1>
    <img id="avatarPreview" src={{ path }} width="500" >
</div>

<div style="width:auto; height:auto; float:left; display:inline;position: absolute;top:100px;">
     {% for face in face_pathsAndnames %}
        <div style="width:60px; height:auto; float:left; display:inline;">

            <img id={{ face.path }} src={{ face.path }} width="60" >
            <label>{{ face.name }}</label>

        </div>
     {% endfor %}

</div>

</body>
</html>